body,
section,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h3 {
  color: #2e2f42;
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  justify-content: center;
}

:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

form {
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: #ffffff;
  padding-left: 156px;
  padding-right: 156px;
}

.header-section {
  background-image: linear-gradient(#2e2f42b2),
    url(../images/people-office1.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 600px;
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
}

.nav-link:focus,
.nav-link:hover {
  color: #404bbf;
}

.nav-link:focus::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 1px;
}

.address-link {
  color: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-style: normal;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.main-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.071428571428571;
  text-align: center;
}

.button1 {
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px #00000026;
  width: 169;
  gap: 10px;
  border: none;
  margin-top: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  cursor: pointer;
}

.button1:hover {
  background-color: #404bbf;
}

.button-text {
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

#info-section {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#info-section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 24px;
}

.mid-info-title {
  display: flex;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  flex: 1;
  justify-content: start;
  font-style: medium;
  text-align: start;
  padding-bottom: 8px;
}

.mid-info-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  flex: 1;
}

h2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111111111111111;
  letter-spacing: 0.02em;
  justify-self: center;
  font-style: bold;
}

#our-team-section {
  background-color: #f4f4fd;
}

#our-team-section ul {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.staff-name {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  padding-top: 32px;
}

.staff-job {
  color: #434455;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
}

.portfolio-card-item {
  border: 1px solid #e7e9fc;
  overflow: hidden;
}

#our-port-section {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#our-port-section ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

#our-port-section ul li:hover {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}
.port-img-container {
  display: flex;
  position: relative;
  overflow: hidden;
}

.port-img-container:hover .port-img-hover {
  transform: translateY(0);
}

.port-img-hover {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #404bbf;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  text-align: center;
  align-items: center;
}

.card-type-text {
  color: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 120px;
  background-color: #2e2f42;
  padding-left: 156px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.logo-web-header {
  font-family: "Raleway";
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166666666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-studio-header {
  font-family: "Raleway";
  color: #2e2f42;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166666666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-web-footer {
  font-family: "Raleway";
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166666666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-bottom: 16px;
}

.logo-studio-footer {
  font-family: "Raleway";
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.166666666666667;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-footer {
  display: block;
  padding-bottom: 16px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.address-links {
  display: flex;
  gap: 40px;
}

.portfolio-cards {
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 8px;
}

.ourport-text-box {
  padding: 32px 16px;
}

#our-team-section ul li {
  gap: 32px;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
  background-color: white;
  border-radius: 0 0 4px 4px;
  cursor: pointer;
}

.our-team-header {
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.ourport-header {
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}

.logo.header {
  margin-left: 156px;
}

.logo.footer {
  display: flex;
  padding-bottom: 16px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.footer-icons {
  width: 24px;
  height: 24px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.footer-social-link:hover {
  background-color: #31d0aa;
}

.footer-social-text {
  color: white;
  font-weight: 500;
  width: 100%;
}

.mid-info-icon {
  width: 64px;
  height: 64px;
}

.mid-info-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 264px;
  background-color: #f4f4fd;
  border: 1px solid;
  border-radius: 4px;
  border-color: #8e8f99;
  margin-bottom: 8px;
}

.our-team-icon-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-bottom: 32px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.our-team-icons {
  width: 16px;
  height: 16px;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.footer-sub {
  display: flex;
  flex-direction: column;
  flex-wrap: ;
  color: white;
}

.footer-sub-text {
  width: 100%;
}

.footer-sub-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.sub-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 16px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  outline: none;
}

.sub-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 24px;
}
